name: Containers CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [created]

jobs:
  build_cache_buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./Containerfile
          push: false
          
      - name: Buildah Action
        uses: redhat-actions/buildah-build@v2
        with:
          image: python-dev
          tags: latest ${{ github.sha }}
          containerfiles: |
            ./Containerfile
